{
    "extends": [ 
      "eslint:recommended", 
      "react-app", 
      "airbnb",
      "plugin:jsx-a11y/recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "prettier",
      "prettier/react"
    ],
    "plugins": [
      "react",
      "jsx-a11y",
      "prettier"
    ],
    "rules": {
      "semi": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "no-console": "warn", 
      "no-unused-vars": "warn",
      "react/prop-types": "warn",
      "react/jsx-props-no-spreading":"off",
      "react/forbid-prop-types": "off",
      "react/require-default-props": "warn",
      "jsx-a11y/media-has-caption": "off",
      "import/prefer-default-export": "warn",
      "no-param-reassign": "warn",
      "react/no-array-index-key": "warn",
      "no-underscore-dangle": "off",
      "jsx-a11y/no-static-element-interactions": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "import/no-named-as-default": "warn",
      "eqeqeq": "warn",
      "arrow-body-style": "off", //this is eslint rule but affect prettier
      "react/button-has-type": "warn",
      "no-plusplus": "off",
      "react/default-props-match-prop-types": "warn",
      "prettier/prettier": [
        "warn", {
          "semi": true, 
          "tabWidth": 2,
          "singleQuote": true,
          "jsxSingleQuote": true,
          "arrowParens": "avoid"    
        }
      ]
    }
}