@import '../../styles/colors.scss' ;
@import '../../styles/variables.scss' ;
.faq{
    padding: 1em 0;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover{
        .icon{
            color: $orange;
        }
    }
}
.question{
    min-width: 1em;
    max-width: 100%; 
    font-size: $titleFontSize;
    color: $textColor;
}
.icon{
    flex-shrink: 0;
    color: $textSpecialColor;
    background-color: transparent;
    transition: all .3s linear; 
    // border-radius: 50%;
}
.answer{
    margin-top: 1em;
    font-size: $textFontSize;
    color: $textGrey;
}