@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc{
    font-size: $textFontSize;
    color: $textGrey;
    line-height: 2.5em;
    margin-top: 2em;
}