@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
.worksContainer {
  padding: $sectionPadding;
}
.title {
  color: $textSpecialColor;
  font-weight: 700;
  font-size: $landingTitleFontSize;
}
.works {
}
.layer {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0%;
  z-index: 1;
}
