$sectionBgColor: rgb(20,20,20) ;
$textColor: rgb(255,255,255) ;
$textSpecialColor: rgb(66, 219, 66) ;
$textGrey: rgb(200,200,200);
$orange:  rgb(228, 95, 47) ;
$navBgColor: rgb(35,35,35);
$blackFilter: rgba(0,0,0,.8);
$errorColor: rgb(204, 56, 85);
$successColor: rgb(0, 189, 72);