@import '../../styles/colors.scss' ;
@import '../../styles/variables.scss';
.feature{
    width: calc((100% - (3 * 4em) )/ 3);
    height: auto;
    margin: 2em;
}
.row{
    display: flex;
    align-items: center;
}
.icon{
    color:$orange;
}
.title{
    font-size: $titleFontSize;
    font-weight: 700;
    font-family: athenaRuby;
    margin-left: .5em;
    color: $textColor;
}
.content{
    font-size: $textFontSize;
    color: $textGrey;
    margin-top: .5em;
}