@import '../../styles/variables.scss' ;
@import '../../styles/colors.scss';
.faqsContainer{
    padding: $sectionPadding;
}
.title{
    font-size: $landingTitleFontSize;
    font-weight: 700;
    text-transform: uppercase;
    color: $textSpecialColor;
}
.faqs{
}